{% include "base.html" %}

{% block content %}

<div class="centreContent">
    <div class="container">
        <div class="text-white bg-dark mb-3" style="max-width: 26rem;">
            <div class="card-header"><h1>Copyright Notice</h1></div>
            <div class="card-body">
                <p>Our product is a website that provides accurate and up-to-date valuations of football players in the transfer market. Using a sophisticated algorith, we deliver reliable and unbiased valuations to assist users in making informed decisions about player transfers.</p>
                <p>We would like to emphasize that our platform and its content are protected by copyright laws. Any unauthorized use, reproduction, or distribution of our content, including player valuations, analysis, and insights, is strictly prohibited and will be subject to legal action.</p>
                <p>At Player R Us, we are committed to upholding the highest standards of intellectual property protection and ensuring that our users can rely on our platform's accuracy and reliability.</p>
                <p>We invite you to experience the future of football player valuation with Player R Us. Sign up today and gain access to the most comprehensive and reliable transfer valuation platform on the market.</p>
            </div>
        </div> 
    </div>
</div>

{% endblock %}
<p><br></p>
{% include "footer.html" %}